<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.carbon.emissions.repository.CarbonRepository">
    <select id="selectGasEmission" parameterType="String" resultType="com.carbon.emissions.domain.GasEmissionScrap">
        select *
        from gas_emission
        where yy = #{year}
        order by gas_enisn_amnt DESC, gas_reduct_amnt desc;
    </select>

    <delete id="deleteGasEmission">
        delete from ENERGY_CONSUMPTION  where yy = '2016' OR yy = '2017' OR yy = '2022'
    </delete>
    <delete id="deleteCorpEmission">
        DELETE FROM ENERGY_CONSUMPTION WHERE ADRES NOT LIKE CONCAT('%', '경기도', '%')
    </delete>

    <select id="selectCorpEmission" parameterType="java.util.HashMap" resultType="com.carbon.emissions.domain.EnergyConsumption">
        SELECT *
        FROM ENERGY_CONSUMPTION
        WHERE yy = #{year}
        <if test="adres != null and adres != ''">
            AND ADRES LIKE CONCAT('%', #{adres}, '%')
        </if>
        <if test="dsgnInds != null and dsgnInds != ''">
            AND dsgn_inds = #{dsgnInds}
        </if>
        ORDER BY CAST(REPLACE(ghg_ems, ',', '') AS BIGINT) DESC
            LIMIT 20;
    </select>

   <select id="selectCorpDsgnStatistics" resultType="com.carbon.emissions.domain.EnergyConsumption">
       SELECT CASE WHEN ranking <![CDATA[<=]]> 10 THEN dsgn_inds ELSE 'etc' END AS dsgn_inds,
       SUM(ghg_ems) AS ghg_ems
       FROM
           (SELECT dsgn_inds, ghg_ems, Rank()
               over (ORDER BY ghg_ems DESC) AS ranking
       FROM (SELECT dsgn_inds, SUM(ghg_ems) AS ghg_ems
       FROM energy_consumption
       GROUP BY dsgn_inds) AS subquery) AS ranked
       GROUP BY CASE
       WHEN ranking <![CDATA[<=]]> 10 THEN dsgn_inds
       ELSE 'etc' END
       ORDER BY ghg_ems DESC;
   </select>

    <select id="selectGgStatistics" resultType="com.carbon.emissions.domain.GasEmissionScrap">
        SELECT
            sign_nm
             , SUM(gas_enisn_amnt) AS gas_enisn_amnt
             , SUM(gas_reduct_amnt) AS gas_reduct_amnt
        FROM GAS_EMISSION
        GROUP BY sign_nm
        order by gas_reduct_amnt DESC
    </select>

    <select id="selectSigunStatistics" parameterType="String" resultType="com.carbon.emissions.domain.GasEmissionScrap">
        SELECT
          YY
            , sign_nm
             , SUM(gas_enisn_amnt) AS gas_enisn_amnt
             , SUM(gas_reduct_amnt) AS gas_reduct_amnt
        FROM GAS_EMISSION
        WHERE YY = #{YY}
        GROUP BY YY, sign_nm
        order by gas_enisn_amnt DESC
    </select>

    <select id="selectCorpStatistics" parameterType="java.util.HashMap" resultType="com.carbon.emissions.domain.EnergyConsumption">
        SELECT
            corp_nm
             , vrfct_agncy
             , dsgn_inds
             , SUM(ghg_ems) AS ghg_ems
             , ghg_unit
             , SUM(eng_cnsm) AS eng_cnsm
             , eng_unit
        FROM energy_consumption
        WHERE 1 = 1
        <if test="dsgnInds != null and dsgnInds != ''">
            AND dsgn_inds = #{dsgnInds}
        </if>
        GROUP BY corp_nm, vrfct_agncy
        order by ghg_ems DESC
    </select>

    <select id="selectYyStatistics" resultType="com.carbon.emissions.domain.GasEmissionScrap">
        SELECT
            yy
             , SUM(gas_enisn_amnt) AS gas_enisn_amnt
             , SUM(std_emisn_amnt) AS std_emisn_amnt
        FROM GAS_EMISSION
        GROUP BY yy
        order by YY desc;
    </select>

    <insert id="upsertGasEmission" parameterType="list">
        MERGE INTO gas_emission AS target
        USING (
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.yy}, #{item.signNm}, #{item.gasEnisnAmnt}, #{item.gasReductAmnt}
            , #{item.crbnReductAmnt}, #{item.reductBizReductAmnt}, #{item.gasReductRt}, #{item.stdEmisnAmnt})
        </foreach>
        ) AS source (yy, sign_nm, gas_enisn_amnt, gas_reduct_amnt
            , crbn_reduct_amnt, reduct_biz_reduct_amnt, gas_reduct_rt, std_emisn_amnt)
        ON (target.yy = source.yy AND target.sign_nm = source.sign_nm)
        WHEN MATCHED THEN
        UPDATE SET
            gas_enisn_amnt = source.gas_enisn_amnt,
            gas_reduct_amnt = source.gas_reduct_amnt,
            crbn_reduct_amnt = source.crbn_reduct_amnt,
            reduct_biz_reduct_amnt = source.reduct_biz_reduct_amnt,
            gas_reduct_rt = source.gas_reduct_rt,
            std_emisn_amnt = source.std_emisn_amnt
        WHEN NOT MATCHED THEN
        INSERT (yy, sign_nm, gas_enisn_amnt, gas_reduct_amnt
                , crbn_reduct_amnt, reduct_biz_reduct_amnt, gas_reduct_rt, std_emisn_amnt)
        VALUES (source.yy, source.sign_nm, source.gas_enisn_amnt, source.gas_reduct_amnt
                , source.crbn_reduct_amnt, source.reduct_biz_reduct_amnt, source.gas_reduct_rt, source.std_emisn_amnt);
    </insert>

    <insert id="upsertCorpEmission" parameterType="list">
        MERGE INTO ENERGY_CONSUMPTION AS target
        USING (
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.yy}, #{item.corpNm}, #{item.adres}, #{item.dsgnInds}, #{item.tst}, #{item.vrfctAgncy},
            #{item.engCnsm}, #{item.engUnit}, #{item.ghgEms}, #{item.ghgUnit}, #{item.dprtmChrg}, #{item.dsgnClsf})
        </foreach>
        ) AS source (yy, corp_nm, adres, dsgn_inds, tst, vrfct_agncy, eng_cnsm, eng_unit, ghg_ems, ghg_unit, dprtm_chrg, dsgn_clsf)
        ON (target.yy = source.yy AND target.corp_nm = source.corp_nm)
        WHEN MATCHED THEN
        UPDATE SET
            adres = source.adres,
            dsgn_inds = source.dsgn_inds,
            tst = source.tst,
            vrfct_agncy = source.vrfct_agncy,
            eng_cnsm = source.eng_cnsm,
            eng_unit = source.eng_unit,
            ghg_ems = source.ghg_ems,
            ghg_unit = source.ghg_unit,
            dprtm_chrg = source.dprtm_chrg,
            dsgn_clsf = source.dsgn_clsf
        WHEN NOT MATCHED THEN
        INSERT (yy, corp_nm, adres, dsgn_inds, tst, vrfct_agncy,
            eng_cnsm, eng_unit, ghg_ems, ghg_unit, dprtm_chrg, dsgn_clsf)
        VALUES (source.yy, source.corp_nm, source.adres, source.dsgn_inds, source.tst, source.vrfct_agncy,
            source.eng_cnsm, source.eng_unit, source.ghg_ems, source.ghg_unit, source.dprtm_chrg, source.dsgn_clsf);
    </insert>
</mapper>